{{< /layout}}

{{$title}}Add New Interaction Type{{/title}}

{{$content}}
<h1>Add New Interaction Type</h1>

<form action="/interaction-types" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>

    <div class="form-actions">
        <button class="primary-button" type="submit" class="btn btn-primary">Add Interaction Type</button>
    </div>
</form>
{{/content}}

{{/ /layout}}