{{< /layout}}

{{$title}}Add New Relationship Type{{/title}}

{{$content}}
<h1>Add New Relationship Type</h1>

<form action="/relationship-types" method="POST">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="counterName">Counterpart Name:</label>
        <input type="text" id="counterName" name="counterName" class="form-control">
    </div>

    <div class="form-actions">
        <button class="primary-button" type="submit" class="btn btn-primary">Add Relationship Type</button>
    </div>
</form>
{{/content}}

{{/ /layout}}