body {
    font-family: sans-serif;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

.site-header > nav
{
    padding: 0;
    background-color: #333;
    color: #fff;
}

.site-header > nav a:visited
{
    color: inherit;
}

.site-header > nav > ul
{
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

#home-icon-link
{
    text-decoration: none;
    font-size:2rem;
    margin: 0 0 0 0.25rem;
    position: relative;
    top: .14em;
}

.site-navigation
{
    display: flex;
    padding: 1em 0;
    align-items: center;
    gap: 1.5em;
}

.logout-link-li
{
    margin-left: auto;
    margin-right:1em;
}

/*
nav ul li {
    display: inline;
    margin-right: 1.5em;
}
*/
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 2rem;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    padding: 5px;
    margin-top: 5px;
}

button, .link-button, .primary-button
{
    display: inline-block;
    margin: 0;
    padding: 0.25em;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    background-color: white;
    color: black;
    font-size: 1em;
    line-height: 1.6em;
    text-decoration: none;
}

.form-actions > *:not(:first-child)
{
    margin-left:0.25rem;
}

.form-actions > *:not(:last-child)
{
    margin-right:0.25rem;
}


button:hover, .link-button:hover
{
    background-color: #ddd;
}

.primary-button
{
    background-color: #333;
    color: #fff;
}

.primary-button:hover
{
    background-color: #555;
}

.form-actions
{
    margin-top:1em;
}

.no-children-table-row:only-child
{
    display: table-row;
}

.no-children-table-row:not(:only-child)
{
    display: none;
}

.no-children-table-row > td
{
    text-align: center;
    vertical-align: middle;
}