{{< /layout}}

{{$ title}}Login{{/ title}}

{{$ content}}
<h2>Login</h2>
<form action="login" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required autofocus>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="form-actions">
        <input class="primary-button" type="submit" value="Log in">
    </div>
</form>
{{/ content}}

{{/ /layout}}