{{< /layout}}
{{$ title}}Contact Details{{/ title}}
{{$ content}}

<h2>{{contactDetails.firstName}} {{contactDetails.lastName}}</h2>

<p>Gender: {{contactDetails.gender}}</p>
<p>Birthday (age): {{# contactDetails.birthdate}}{{contactDetails.birthdateFormatted}} ({{contactDetails.age}}){{/ contactDetails.birthdate}}</p>
<p>Email: {{contactDetails.email}}</p>
<p>Phone: {{contactDetails.phone}}</p>
<p>Company: {{contactDetails.company}}</p>

<a href="/contacts/{{contactDetails.id}}/edit">Edit Contact</a>

<h3>Interactions</h3>
{{> /interactions/for-contact-list}}
<a href="/interactions/new?for-contact-id={{contactDetails.id}}">Add Interaction</a>

<h3>Relationships</h3>
{{> /relationships/for-contact-list}}
<a href="/relationships/new?for-contact-id={{contactDetails.id}}">Add Relationship</a>

{{/ content}}
{{/ /layout}}