<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthday (age)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{# .}}
        <tr>
            <td>{{firstName}} {{lastName}}</td>
            <td>{{# birthdate}}{{birthdateFormatted}} ({{age}}){{/ birthdate}}</td>
            <td class="form-actions">
                <a class="link-button" href="/contacts/{{id}}">View</a>
                <a class="link-button" href="/contacts/{{id}}/edit">Edit</a>
                <button class="primary-button" onclick="deleteContact('{{id}}')">Delete</button>
            </td>
        </tr>
        {{/ .}}
    </tbody>
</table>